<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expedition Fuels Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpeditionFuelsHub.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
     <partial name="_UserMessages" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                  @if ( !User.IsInRole("Admin") && !User.IsInRole("Fdispenser"))
                        {
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Expedition Fuels Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                        }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BillLading" asp-action="All">All BillLadings</a>
                        </li>
                        @*User?.Identity?.IsAuthenticated ?? false &&*@
                        @if ( User.IsInRole("Admin") || User.IsInRole("Fdispenser"))
                        {
                               <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="BillLading" asp-action="Mine">My billLadings</a>
                               </li>
                                    <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="BillLading" asp-action="Add">Add a billLading</a>
                                        </li>
                                             <li class="nav-item">
                                <div class="dropdown">
                                  <button class="dropbtn">Nomenclatures</button>
                                  <div class="dropdown-content">
                                    <a href="#">Vehicles</a>
                                    <a href="#">DistributionChanels</a>
                                    <a href="#">Products</a>
                                    <a href="#">Purposes</a>
                                  </div>
                                </div>
                        </li>
                        }
                               
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - ExpeditionFuelsHub
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
