@model ExpeditionFuelsHub.Core.Models.Admin.VehicleModel

@{
    ViewData["Title"] = "Add new item in N0menclature Vehicle";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" class="form-control" placeholder="RegistrationNumber...">
                <span asp-validation-for="RegistrationNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleRegistrationDocumentNumber"></label>
                <input asp-for="VehicleRegistrationDocumentNumber" class="form-control">
                <span asp-validation-for="VehicleRegistrationDocumentNumber" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
                <partial name="_ValidationScriptsPartial" />
}
