
@{
    ViewData["Title"] = "Add new billLading";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AddBillLadingPartial" model="@Model" />

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
