@model AddBillLadingViewModel

@{
    ViewData["Title"] = "Edit a billLading";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_EditBillLadingPartial" model="@Model" />

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
